html {
  // your css to create a cover image 
  padding: env(safe-area-inset); // <- this is the missing piece. Add it.
}

body {
  scroll-snap-type: y proximity;
}

.header {
  scroll-snap-align: start;
  max-height: 100vh;
  overflow-y: scroll;
  display: grid;
  grid-template: 1 /1;

  #background-img {
    grid-area: 1 / 1;
    background: none;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  #header {
    grid-area: 1 / 1;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
      font-size: 16vw;
    }

    h3 {
      margin: 0;
      font-size: 10vw;
    }
  }
}

main{
  display: grid;
  grid-template-columns: minmax(0,auto) minmax(auto,800px) auto;
  grid-template-rows: auto 1fr auto;
  
}
main > .main {
grid-column: 2;
background: $pink;
margin: 2em -1em;
border: 1px $peony solid;
border-radius: 20px;
filter: drop-shadow(0 0 30px #333);

}
// .dump {
//   grid-column: 2;
//   background: $peach;
// }

#AA{
  font-family: 'Amatic SC', cursive;
  font-size: 50vw;
  grid-column: 2;
  grid-row: 3;
}