$navy: #394055;
$green: #5B7761;
$gray: #ACAEAB;
$white: #F5F5F5;
$hunter: #172121;
$tan: #F7E1D7;
$peach: #F9ADA0;
$coral: #EF6F6C;
$peony: #CC7178;
$pale: #EDAFB8;
$pink: #FE938C;

#colors {
    h1 {
      flex: 1 0 100%;
      margin: 0;
      padding: 1em 0;
    }
  
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  
    div {
      flex: 1 1 100px;
      padding: 0 1em;
    }
  }
  .bk-navy {background: $navy; color: white;}
  .bk-green {background: $green}
  .bk-gray {background: $gray}
  .bk-white {background: $white}
  .bk-hunter {background: $hunter; color: white;}
  .bk-tan {background: $tan}
  .bk-peach {background: $peach}
  .bk-coral {background: $coral}
  .bk-peony {background: $peony}
  .bk-pale {background: $pale}
  .bk-pink {background: $pink}
#ex1 { font-family: 'Great Vibes', cursive;}
#ex2 { font-family: 'Dancing Script', cursive;}
#ex3 { font-family: 'Pacifico', cursive;}
#ex4 { font-family: 'Sacramento', cursive;}
#ex5 { font-family: 'Parisienne', cursive;}
#ex6 { font-family: 'Rochester', cursive;}
#ex7 { font-family: 'Amatic SC', cursive;}
#ex8 { font-family: 'Cookie', cursive; color: blue;}
#ex9 { font-family: 'Clicker Script', cursive;}
#ex10 { font-family: 'Engagement', cursive;}
#ex11 {font-family: 'Playfair Display', serif;}
#ex12 {font-family: 'Abril Fatface', cursive;}
#ex13 {font-family: 'Didact Gothic', sans-serif;}
#ex14 {font-family: 'Lobster Two', cursive;}



summary {

    font-size: 2em;
}
details {
    background: $peach;
    padding: 1em;
    margin: 1em auto;
    max-width: 90%;
    color: $navy;
}

.yes {
    color:  $navy;
    background: $tan;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2, h3, p {
        margin: 0;
    }
}

.no {
  text-decoration: line-through;
  color: $tan;
}




#STD,
#STD2,
#STD3 {
  // scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#STD2 {
//   background: $navy;
}
