html {
    background: lightgreen;
}
body {
  background: salmon;
  text-align: center;
}
main {
    background: lightyellow;
}
p {
    // color:lightblue;
    font-size: 1em;
    // background: pink;
    display: block;


}
div{
    background: white;

    color: orange;
}
header {
    padding: 1em;
    h1{
    // color: lightyellow;
    }
}