html {
    background: lightgreen;
}
body {
  background: salmon;
}
main {
    background: lightyellow;
}
p {
    color:lightblue;
    font-size: 1em;
    background: pink;
    display: block;


}
div{
    background: white;
    color: orange;
}
header {
    h1{
    font-size: calc(1em + 5vmin);
    color: red;
    }
}