html {
    background: lightgreen;
}
body {
  background: salmon;
}
main {
    background: lightyellow;
}
p {
    color:lightblue;
    font-size: 1em;
    background: pink;
    border: 1px red solid;
    display: block;
    color: blue;

}